.barra2Icon {
  position: absolute;
  top: 0px;
  left: 12px;
  width: 243px;
  height: 41px;
  object-fit: cover;
}
.contatosChild {
  position: absolute;
  top: 260.5px;
  left: 24px;
  width: 201.5px;
  height: 1.5px;
  object-fit: cover;
}
.div {
  position: absolute;
  top: 38px;
  left: 0px;
  text-decoration: underline;
  display: inline-block;
  width: 229px;
  height: 16px;
}
.div1 {
  position: absolute;
  top: 19px;
  left: 0px;
  text-decoration: underline;
  display: inline-block;
  width: 229px;
  height: 16px;
}
.div2 {
  position: absolute;
  top: 0px;
  left: 0px;
  text-decoration: underline;
  display: inline-block;
  width: 229px;
  height: 16px;
}
.exameMarca {
  position: absolute;
  top: 71px;
  left: 16px;
  width: 229px;
  height: 54px;
  text-align: left;
}
.exameMarca1 {
  position: absolute;
  top: 163px;
  left: 16px;
  width: 229px;
  height: 54px;
  text-align: left;
}
.contatos1 {
  position: absolute;
  top: 14px;
  left: -112px;
  font-size: var(--font-size-mini);
  display: inline-block;
  font-weight: 700;
  width: 467px;
  height: 38px;
}
.faleConosco {
  position: absolute;
  top: 52px;
  left: -184px;
  font-size: var(--font-size-xs);
  display: inline-block;
  font-weight: 700;
  width: 467px;
  height: 38px;
}
.caixaEntarChild {
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: var(--br-8xs);
  background-color: var(--color-deepskyblue);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 95px;
  height: 19px;
}
.voltar1 {
  margin: 0;
}
.voltar {
  position: absolute;
  top: -1px;
  left: 10px;
  font-size: var(--font-size-mini);
  font-weight: 300;
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: center;
  display: inline-block;
  width: 76px;
  height: 26px;
}
.caixaEntar1 {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 308px;
  left: 77px;
  width: 153px;
  height: 26px;
}
.duvidasSobreCadastro1 {
  position: absolute;
  top: 137px;
  left: -153px;
  font-size: var(--font-size-xs);
  display: inline-block;
  font-weight: 700;
  width: 467px;
  height: 19px;
}
.contatos {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 380px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-3xs);
  color: var(--color-black);
  font-family: var(--font-inter);
}
